@model IEnumerable<Labb3MVC.Models.Filmer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Namn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Biljetter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShowTime)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Namn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biljetter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
