@model IEnumerable<Labb3MVC.Models.Filmer>

@{
    ViewData["Title"] = "Filmer";
}

<h2>Filmer</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index" asp-route-SortOrder="@ViewData["NamnSortParam"]">@Html.DisplayNameFor(model => model.Namn)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-SortOrder="@ViewData["BiljettSortParam"]"> @Html.DisplayNameFor(model => model.Biljetter)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-SortOrder="@ViewData["ShowTimeSortParam"]">@Html.DisplayNameFor(model => model.ShowTime)</a>
                </th>
            <th>
                <a asp-action="Index" asp-route-SortOrder="@ViewData["SalongSortParam"]">@Html.DisplayNameFor(model=>model.Salong)</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Namn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biljetter) / @Html.DisplayFor(modelItem=>item.Salong.MaxKapacitet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowTime)
            </td>
            <td>
                Salong nummer @Html.DisplayFor(modelItem=>item.Salong.Id)
            </td>
            <td>
                @if (item.Biljetter <= 0)
                {
                    <input type="submit" value="Utsåld" disabled />
                }
                else
                {
                    <a asp-action="Köp" asp-route-id="@item.Id" class="btn btn-success">Köp</a>

                }
            </td>
        </tr>
}
    </tbody>
</table>
